* {
    margin: 0px;
}
body {
    background-color: white;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
    text-decoration: underline dotted;
    font-family: Operator Mono Bold;
    text-shadow: 2px 3px 3px yellow;
}
p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana;
    margin: 20px;
    text-transform: uppercase;
}
.green {
    height: 180px;
    width: 300px;
    background-color: green ;
    overflow: hidden;
    margin: 0px auto 0px;
}

.red {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: red;
    margin: 12px auto 0px;
}

.germany {
    width: 300px;
    height: 60px;
    background-color: red;
    margin: 20px auto 0px;
    border-top: 60px solid black;
    border-bottom: 60px solid yellow;
    text-align: center;
}

.italy {
    height: 180px;
    width: 100px;
    background-color: white;
    margin: 20px auto 0px;
    border-left: 120px solid green;
    border-right: 120px solid red;
}

.france {
    height: 180px;
    width: 100px;
    background-color: white;
    margin: 20px auto 0px;
    border-left: 100px solid blue;
    border-right: red solid 100px;
}

.canada {
    height: 180px;
    width: 150px;
    background-color: white;
    margin: 20px auto 0px;
    border-right: 100px solid red;
    border-left: 100px solid red;
}

.canada img {
    width: 178px;
    margin: 0px auto 0px;
}

.saudi {
    width: 350px;
    height: 180px;
    background-color: #065206;
    margin: 20px auto 0px;
    text-align: center;
}

.saudi img {
    width: 220px;
    margin: 40px;
}

.argentina {
    width: 350px;
    height: 60px;
    background-color: white;
    margin: 20px auto 0px;
    border-top: 60px solid skyblue;
    border-bottom: 60px solid skyblue;
    text-align: center;
}

.argentina img {
    width: 70px;
}

.denfirst {
    height: 90px;
    width: 20px;
    background-color: white;
    border-left: 100px solid red;
    border-right: 220px solid red;
    margin: 20px auto 0px;

}
.denlast {
    height: 90px;
    width: 20px;
    background-color: white;
    border-left: 100px solid red;
    border-right: 220px solid red;
    margin: 20px auto 0px;
}

.chile {
    height: 100px;
    width: 300px;
    background-color: white;
    margin: 20px auto 0px;
    border-bottom: 100px solid red;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  
}
.chile img {
    width: 132px;
}

.laos {
    width: 280px;
    height: 70px;
    background-color: indigo;
    margin: 0px auto 0px;
    border-bottom: 30px solid rgb(170, 10, 10);
    border-top: 30px solid rgb(170, 10, 10);
    text-align: center;
}
.white {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: white;
    margin: 4px auto 0px;
}

.china  {
    height: 145px;
    background-color: #e00606e9 ;
    width: 300px;
    margin: 20px auto 0px;
}
.china img {
    width: 100px;
}

.fin {
    background-color: rgb(17, 17, 51);
    height: 180px;
    width: 300px;
    margin: 20px auto 0px;
}
.blueline {
    height: 80px;
    width: 50px;
    background-color: rgb(17, 17, 51);
    border-left: 50px solid white;
    border-right: 200px solid white;
}
.whiteline {
    height: 80px;
    width: 50px;
    background-color: rgb(17, 17, 51);
    border-left: 50px solid white;
    border-right: 200px solid white;
    margin: 50px auto 0px;
}